.index-box {
  width: 100%;
  height: 100%;
  :global {
    .content-same {
      width: 100%;
      height: calc(100% - 55px);
      padding-top: 10px;
      overflow: auto;

      .tips {
        display: flex;
        flex: 1;
        padding: 6px 20px;
        align-items: center;
        font-size: 14px;
        color: #666;
      }

      .alone {
        display: flex;
        flex: 1;
        margin: 0 18px;
        height: 90px;
        overflow: hidden;
        border-radius: 8px;
        background: #fff;
        margin-bottom: 20px;
        box-shadow: 4px 4px 1px #ececec;

        .center {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          margin-left: 20px;

          .name {
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #000;
            margin-bottom: 6px;

            .nums {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              min-width: 10px;
              width: auto;
              height: 18px;
              margin-left: 6px;
              color: #fff;
              border-top-left-radius: 9px;
              border-top-right-radius: 9px;
              border-bottom-right-radius: 9px;
              border-bottom-left-radius: 9px;
              overflow: hidden;
              background-color: red;
              font-size: 13px;
              line-height: 18px;
              padding: 0 4px;
              line-height: 18px;
            }
          }

          .desc {
            font-size: 14px;
            color: #333;
            word-break: break-all;
            white-space: pre-wrap;
          }
        }

        .right {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 100%;
        }

        &:active {
          background-color: rgb(248, 248, 248);
        }
      }
    }
  }
}

.list-box {
  width: 100%;
  height: 100%;
  :global {
    .content-box {
      width: 100%;
      height: calc(100% - 45px);
      .am-tabs {
        height: auto;
      }
      .scroll-box {
        width: 100%;
        height: calc(100% - 44px);
        overflow: auto;
        .list-scroll {
          height: 100%;
          .am-pull-to-refresh-content-wrapper {
            min-height: 100%;
          }
        }
        .like {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          padding: 16px 15px;
          height: auto;
          background-color: #fff;

          .station-name {
            font-size: 16px;
            color: #333;
            word-break: break-all;
          }

          .org-name {
            font-size: 14px;
            color: #ccc;
            word-break: break-all;
          }
          &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            border-bottom: 1px solid #f5f5f5;
            transform: scaleY(0.5);
          }
        }
        .footer {
          text-align: center;
        }
      }

      .have-tab {
        height: calc(100% - 88px);
      }
    }
    .have-btn {
      width: 100%;
      height: calc(100% - 105px);
    }
    .btn-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      background: #fff;

      .btn {
        flex: 1;
        margin: 0 15px;
        border-radius: 5px;
        background-color: #1aa5fe;
        color: #fff;
      }
      .active-btn {
        background-color: #2798df;
      }
    }
  }
}

.addstation-box {
  width: 100%;
  height: 100%;
  :global {
    .content-box {
      width: 100%;
      height: calc(100% - 95px);
      overflow: auto;
      .am-list-item,
      .am-input-item,
      .am-textarea-label {
        height: 56px;
        line-height: 56px;
      }
      .am-list-item {
        position: relative;
        &::before {
          content: "*";
          position: absolute;
          left: 7px;
          top: 0;
          font-size: 18px;
          color: #ee0a24;
        }
      }
      .am-textarea-item {
        flex-direction: column;
        height: auto;
        .am-textarea-control {
          width: 94%;
          min-height: 100px;
        }
        .am-textarea-clear {
          position: absolute;
          right: 0;
          bottom: calc(50% - 23px);
          margin-top: 0;
          margin-right: 8px;
        }
      }
      .tips {
        display: flex;
        flex: 1;
        padding: 10px 15px;
        word-break: break-all;
        font-size: 15px;
        color: #666;
        background-color: rgb(245, 245, 249);
      }
    }
    .bottom-btn-box {
      position: relative;
      display: flex;
      width: 100%;
      height: 50px;
      background-color: #fff;

      .cancel {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        font-size: 16px;
        color: #666;

        &::after {
          content: " ";
          position: absolute;
          right: 0;
          top: calc(50% - 8px);
          width: 0;
          height: 16px;
          border-right: 1px solid #eee;
        }
      }

      .creact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        font-size: 16px;
        color: #1aa5fe;
      }
      &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        border-bottom: 1px solid #eee;
        transform: scaleY(0.5);
      }
    }
  }
}
